/*
grey: #3E4345
dark grey: #2D3031
yellow: #FDC52A
red: #DC3232
blue: #2781E1 
*/


@font-face {
    font-family: 'noto_sans-semibold';
    src: url('Noto_Sans/NotoSansMono-SemiBold.ttf')
}

@font-face {
    font-family: 'noto_sans-medium';
    src: url('Noto_Sans/NotoSansMono-Medium.ttf')
}

@font-face {
    font-family: 'noto_sans-regular';
    src: url('Noto_Sans/NotoSansMono-Regular.ttf')
}

@font-face {
    font-family: 'noto_sans-light';
    src: url('Noto_Sans/NotoSansMono-Light.ttf')
}


body {
    margin: 0px;
    background-color: #3E4345;
}

.header-container {
    width: 100%;
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1.5fr 2.5fr;

    background-color: #FDC52A;
}

.title {
    padding-left: 15px;
    font-family: 'noto_sans-medium';
}

.login-container {
    padding-right: 15px;
}

.login {
    font-family: 'noto_sans-medium';
    margin-top: 26px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #5e6568;
}

.header-text {
    color: #3E4345;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 20px;
}

h2 {
    font-family: 'noto_sans-medium';
    margin: 0px;
}

h3 {
    font-family: 'noto_sans-medium';
    margin: 0px;
}

p {
    font-family: 'noto_sans-regular';
}

.yellow-text {
    color: #FDC52A;
}

.body-container {
    margin: 40px;
}


.setup-title {
    margin: 0px;
    font-size: 50px;
}

.setup-body {
    color: #FDC52A;
    font-size: 25px;
}

.setup-link {
    color: #DC3232;
    font-size: 30px;
}

.setup-container {
    width: 90%;
}

.bikes-container {
    min-height: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2D3031;
}

.bikes-subhead {
    height: 65px;
    background-color:#2D3031;
}

.create-bike-button {
    font-family: 'noto_sans-regular';
    margin-top: 10px;
    margin-right: 10px; 
    float: right;
    height: 45px;
    width: 100px;
    background-color: #2781E1;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    
}

.create-bike-button:hover {background-color: #2276d0}

.create-bike-button:active {
    background-color: #2276d0;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }



/* create bike popup styles */
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.popup-content {
    background-color: #3E4345;
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    font-weight: bolder;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}
h1 {
    color: green;
}

label {
    font-family: 'noto_sans-regular';
    color: #FDC52A;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}


input[type=submit] {
    font-family: 'noto_sans-medium';
    text-decoration: none;
    border: none;
    background-color: #FDC52A;
    border-radius: 5px;
    height: 30px;
    width: 100px;

}


.bike-container {
    border-style: solid;
    border-color: #FDC52A;
    border-width: 3px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.bike-title {
    font-family: 'noto_sans-medium';
    font-size: 30px;
    color: #FDC52A;
}

.bike-body {
    font-family: 'noto_sans-regular';
    color: #FDC52A;
    font-size: 15;
}

.bike-name {
    display: inline-block;
    color: #FDC52A;
    font-size: 35px;
    margin-left: 20px;
    margin-top: 15px;
}

.bike-name:hover{
    color: #ddab22;
}


#desc {
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
}

.flexbody-container {
    display: flex;
    flex-direction: row
}

.setups-container {
    flex: 1;
    min-height: 500px;
    border-radius: 10px;
    background-color: #2D3031;
    margin-right: 20px;
    padding: 15px;
}

.variations-container {
    flex: 2;
    min-height: 500px;
    border-radius: 10px;
    background-color: #2D3031;
    padding: 15px;
}

.no-setups {
    color: white;
    text-align: center;
    font-size: 30px;
}


.settings-container {
    display: flex;
    flex-direction: row;
    width: auto;

}

.fork-settings {
    flex: 1;
}

.shock-settings {
    flex: 1;
}

.settings-title {
    color: #FDC52A;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}




.current-setup-container {
    border-style: solid;
    border-color: #3E4345;
    border-width: 5px;
    border-radius: 5px;
    padding: 10px;
}

.currnt-setup-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.current-setup-header-left {
    flex: 1;
}

.current-setup-header-right {
    flex: 1;
    text-align: right;
    padding-right: 10px;
    color: white;
}


.current-setup-body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.current-setup-body-fork {
    flex: 1;
}

.current-setup-body-shock {
    flex: 1;
}

.latest-setup-title {
    color: #FDC52A;
    margin: 5px 0px;
}

.latest-setup-table {
    margin-left: 15px;
    color: white;
}

.selected {
    background-color: #3E4345;
}

.setup {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
}

.favorite-setup-button {
    display: none;
    margin: auto 10px auto auto;
    background-color: #FDC52A;
    border: none;
    border-radius: 5px;
    color: #3E4345;
    font-size: 18px;
    font-family: 'noto_sans-semibold';
    height: 40px;
    width: 120px;
    padding: 5px 0px 0px 0px

}

.edit-setup-button {
    display: none;

    margin: auto 10px auto 10px;
    background-color: #FDC52A;
    border: none;
    border-radius: 5px;
    color: #3E4345;
    font-size: 18px;
    font-family: 'noto_sans-semibold';
    height: 60px;
    width: 90px;
}

.delete-bike-button2 {
    margin: 5px auto;
    background-color: #DC3232;
    width: 100px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.delete-setup-button {
    width: 125px;
    height: 45px;
    background-color: #DC3232;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}

.revert-changes-button {
    width: 125px;
    height: 45px;
    background-color: #2781E1;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}

.duplicate-setup-button {
    width: 125px;
    height: 45px;
    background-color: #2781E1;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}

.button-bar {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 45px;
    margin: 10px auto;
    justify-content: center;

    padding: 10px;
}

.setup-title {
    font-family: 'noto_sans-semibold';
}

.setup-body {
    font-family: 'noto_sans-regular';
}


.info-container {
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 20px;
}


.timeline-container {
    display: flex;
    flex-direction: row;

    margin: 20px auto;
    width: 97%;
    height: 700px;
    background-color: #2D3031;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
}

.timeline-box {
    flex: 1;
    height: 100%;
    overflow: scroll;
}

.timeline-tools-box {
    flex: 1;
    height: 100%;
    margin-left: 20px;
    padding-top: 20px;
    
}

.timeline-tools-title {
    color: #FDC52A;
    margin: 0px;
    text-align: center;
    margin-bottom: 15px;
}

.make-note {
    width: 90%;
    background-color: #3E4345;
    padding: 10px;
    border-radius: 5px;
}

.make-note-title {
    color: white;
    margin-bottom: 10px;
}

.variation-container {
    margin: 30px auto 5px auto;
    width: 75%;
    border-radius: 5px;
    padding: 5px;
    background-color: #3E4345;
}

.variation-header {
    display: flex;
    flex-direction: row;
}

.notes-container {
    margin: 5px auto 5px auto;
    width: 55%;
    border-radius: 5px;
    padding: 5px;
    background-color: #3E4345
}

.notes-header {
    display: flex;
    flex-direction: row;
}

.vertical {
    border-left: 3px solid #FDC52A;
    border-right: 3px solid #FDC52A;
    height: 25px;
    width: 0px;
    margin-left: 50%;
    border-radius: 2px;
  }