<!DOCTYPE html>
<html>
    <head>

        {% load static %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'common/style.css' %}">

        
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap" rel="stylesheet">

        {% block extra_head %}{% endblock %}
    </head>
    <body>

        <!-- header -->
        <div class="header-container">
            <h1 class="title"><a class="header-text" href="{% url 'common:common-home' %}">Suspension Tracker</a></h1>
            <div class="login-container">

                {% if user.is_authenticated %}
                    {% if user_has_bikes %}
                        <h2 class="login" style="text-align: right;">
                            <a class="header-text" href="{% url 'tracker:tracker-setup' %}">Tracker</a><a class="header-text" href="{% url 'users:users-account' %}">My Account</a>
                        </h2>
                    {% else %}
                        <h2 class="login" style="text-align: right;">
                            <a class="header-text" href="{% url 'tracker:tracker-bikes' %}">Tracker</a><a class="header-text" href="{% url 'users:users-account' %}">My Account</a>
                        </h2>
                    {% endif%}

                {% else %}

                <h2 class="login" style="text-align: right;"><a class="header-text" href="{% url 'tracker:tracker-home' %}">Tracker</a><a class="header-text" href="{% url 'users:users-login' %}?next={{request.path}}">Login</a></h2>
                
                {% endif %}
                
                
            </div>
        </div>

        <!-- extension -->
        {% block content%}
        {% endblock content%}
    </body>
</html>