<!DOCTYPE html>
<html>
    <head>

        {% load static %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'tracker/style.css' %}">

        {% block extra_head %}{% endblock %}
    </head>
    <body>

        <!-- header -->
        <div class="header-container">
            {% block headerlink %}{% endblock headerlink %}
            <div class="login-container">

                {% if user.is_authenticated %}
                    <h2 class="login" style="text-align: right;"><a class="header-text" href="{% url 'tracker:tracker-bikes' %}">My Bikes</a><a class="header-text" href="{% url 'users:users-account' %}">Account</a></h2>
                {% else %}
                    <h2 class="login" style="text-align: right;"><a class="header-text" href="{% url 'tracker:tracker-bikes' %}">My Bikes</a><a class="header-text" href="{% url 'users:users-login' %}?next={{request.path}}">Login</a></h2>
                {% endif %}
                
                
            </div>
        </div>

        <!-- extension -->
        {% block content%}
        {% endblock content%}
    </body>
</html>