{% extends "tracker/base.html" %}

{% load static %}

{% block title %}Suspension Tracker{% endblock title %}

{% block headerlink %}
    <h1 class="title"><a class="header-text" href="{% url 'common:common-home' %}">Home Page</a></h1>
{% endblock headerlink %}

{% block content %}

    {% if user.is_authenticated %}
        
    {% else %}
        <div class="info-container">
            <img src="{% static 'tracker/loicbruni.png' %}">
            <div style="text-align: right; margin-left: 15px;">
                <h1 style="color: white;">This is the <span style="color: #FDC52A;">Tracker</span></h1>
                <p style="color: white; font-size: 20px;">
                    It's where you can keep your suspension setups straight
                    so you can focus on the riding.
                </p>
            </div>
        </div>
    {% endif %}


{% endblock content %}