{% extends "tracker/base.html" %}

{% load static %}

{% block title %}Suspension Tracker{% endblock title %}

{% block headerlink %}
    <h1 class="title"><a class="header-text" href="{% url 'common:common-home' %}">Suspension Tracker</a></h1>
{% endblock headerlink %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'tracker/setups.js' %}"></script>
{% endblock %}

{% block content %}

    <div id="myPopup2" class="popup">
        <div class="popup-content">
            
            <form action="" method="POST">
                {% csrf_token %}
                
                <p style="text-align: center; color: white; font-size: 14px;">Leave unchanged/not applicable settings blank</p>

                <div class="settings-container">
                    <div id="fork-settings" class="fork-settings">
                        <h2 class="settings-title">Fork Settings</h2>

                        <label for="f_psi">Psi:</label>
                        <input type="number" id="f_psi" name="f_psi" min="1" max="300" step="0.5"><br>

                        <label for="f_hsc">High Speed Compression:</label>
                        <input type="number" id="f_hsc" name="f_hsc" min="1" max="25" step="1"><br>

                        <label for="f_lsc">Low Speed Compression:</label>
                        <input type="number" id="f_lsc" name="f_lsc" min="1" max="25" step="1"><br>

                        <label for="f_hsr">High Speed Rebound:</label>
                        <input type="number" id="f_hsr" name="f_hsr" min="1" max="25" step="1"><br>

                        <label for="f_lsr">Low Speed Reboud:</label>
                        <input type="number" id="f_lsr" name="f_lsr" min="1" max="20" step="1"><br>

                        <label for="f_tokens">Number of Volume Spacers:</label>
                        <input type="number" id="f_tokens" name="f_tokens" min="1" max="20" step="1"><br>

                        <label for="f_rampup">Ramp-Up Psi:</label>
                        <input type="number" id="f_rampup" name="f_rampup" min="1" max="300" step="0.5"><br>
                    </div>

                    <div id="shock-settings" class="shock-settings">
                        <h2 class="settings-title">Shock Settings</h2>

                        <label for="r_psi">Psi/SpringRate:</label>
                        <input type="number" id="r_psi" name="r_psi" min="1" max="300" step="0.5"><br>

                        <label for="r_hsc">High Speed Compression:</label>
                        <input type="number" id="r_hsc" name="r_hsc" min="1" max="25" step="1"><br>

                        <label for="r_sc">Low Speed Compression:</label>
                        <input type="number" id="r_lsc" name="r_lsc" min="1" max="25" step="1"><br>

                        <label for="r_hsr">High Speed Rebound:</label>
                        <input type="number" id="r_hsr" name="r_hsr" min="1" max="25" step="1"><br>

                        <label for="r_lsr">Low Speed Reboud:</label>
                        <input type="number" id="r_lsr" name="r_lsr" min="1" max="20" step="1"><br>

                        <label for="r_tokens">Number of Volume Spacers:</label>
                        <input type="number" id="r_tokens" name="r_tokens" min="1" max="20" step="1"><br>

                        <label for="r_hbo">Hydraulic Bottom Out:</label>
                        <input type="number" id="r_hbo" name="r_hbo" min="1" max="20" step="1"><br>
                    </div>
                </div>

                <label for="desc">Description</label><br>
                <textarea id="desc" rows="3" cols="100" name="desc" placeholder="What are you changing and why" required></textarea><br>

                <input  style="width: 150px; background-color: #FDC52A;" name="variation_button" type="submit" value="Record Settings"></input>
            </form>

            <button id="closePopup" onclick="popupClose2()">
                Close
            </button>
        </div>
    </div>

    <div class="bikes-subhead">
        <a href="{% url 'tracker:tracker-setups' %}?bike={{ bike_id }}?setup={{ setup_id }}" style="color: #FDC52A;"><h2 class="bike-name">{{ current_bike.name }}</h2></a>
        <h3 class="bike-name" style="margin-left:20px; color: white; font-size: 25px;">Setup: {{ current_setup.name }}</h3>
        <h3 class="bike-name" style="margin-left:40px; color: white; font-size: 25px;">Description: {{ current_setup.description }}</h3>

        <button id="createVariationButton" class="create-bike-button" style="margin-right:30px; background-color: #FDC52A;" onclick="popup2()">Record Settings</button>
    </div>

    <div class="timeline-container">
        <div class="timeline-box">
            {% for variation in list_of_variations %}
                <div class="variation-container">
                    <div class="variation-header">
                        <h2 style="color: #FDC52A">{{ variation.change_desc }}</h2>
                        <h3 style="margin-left: auto; color: white; font-size: 16px;">{{ variation.date_created }}</h3>
                    </div>
                    
                    <div class="current-setup-body">
                        <div class="current-setup-body-fork">
                            <h3 class="latest-setup-title">Fork Settings</h3>
                            <table class="latest-setup-table">
                                {% for id, setting_dict in fork_settings.items %}
                                    {% if id == variation.id %}
                                        {% for setting, value in setting_dict.items %}
                                        <tr>
                                            {% if value != 0 %}
                                            <td>{{ setting }}</td>
                                            <td>{{ value }}</td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                        <div class="current-setup-body-shock">
                            <h3 class="latest-setup-title">Shock Settings</h3>
                            <table class="latest-setup-table">
                                {% for id, setting_dict in shock_settings.items %}
                                    {% if id == variation.id %}
                                        {% for setting, value in setting_dict.items %}
                                        <tr>
                                            {% if value != 0 %}
                                            <td>{{ setting }}</td>
                                            <td>{{ value }}</td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

                {% for id, list_of_notes in variation_notes.items %}
                    {% if id == variation.id %}
                        {% for note in list_of_notes %}
                        <div class="vertical"></div>
                        <div class="notes-container">
                            <div class="notes-header">
                                <h3 style="color: white;">{{ note.note_title }}</h2>
                                <!-- <p style="margin:0px 0px 0px auto; color: white;">{{ note.date_created }}</p> -->
                            </div>
                            <p style="color: white;">
                                {{ note.note_body }}
                            </p>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="timeline-tools-box">
            <h1 class="timeline-tools-title">Setup Variation Timeline</h1>

            <div class="make-note">
                <h2 class="make-note-title">Make a Note</h2>

                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="title" style="color: white;">Note Title</label><br>
                    <input type="text" id="title" name="title" required><br>

                    <label for="body" style="color: white;">Note</label><br>
                    <textarea id="body" rows="3" cols="50" name="body" placeholder="Make a note about the current variation" required></textarea><br><br>

                    <input type="submit" name="note_button" value="Make Note"></input>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}