{% extends "users/base.html" %}

{% load static %}

{% block title %}Suspension Tracker{% endblock title %}

{% block extra_head %}

<script type="text/javascript" src="{% static 'users/account.js' %}"></script>

{% endblock %}

{% block content %}

    <div class="account-page-container">
        <div class="nav-bar">
            <ul>
                <li class="nav-li"><a href="javascript:showTab(1);" class="yellow-text">Personal Info</a></li>
                <li class="nav-li"><a href="javascript:showTab(2);" class="yellow-text">Account Settings</a></li>
            </ul>
            
        </div>
        <div class="account-body">
            <div id="body1">
                <div class="personal-info-header">
                    <h2 class="tab1-title">Edit Personal Info</h2>
                    <div class="logout-container">
                        <a href="{% url 'users:users-logout' %}" id="logout-button">logout</a>
                    </div>
                </div>

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="container">
                      <label for="fname"><b>First Name</b></label>
                      <input type="text" placeholder="{{ fname }}" name="fname">
                  
                      <label for="lname"><b>Last Name</b></label>
                      <input type="text" placeholder="{{ lname }}" name="lname">
                  
                      <label for="email"><b>Email</b></label>
                      <input type="text" placeholder="{{ email }}" name="email">

                      <div class="clearfix">
                        <button type="submit" class="signupbtn" name="edit_info_button">Edit Info</button>
                      </div>
                    </div>
                </form>


                <a href="{% url 'users:users-reset_link' %}"><div class="reset-pass-button">Reset Password</div></a>

            </div>
            <div id="body2" class="hide">
                <h1 class="account-settings-title">Account Settings</h1>

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="account-settings-container">

                      <label for="weight" style="margin-bottom: 5px;"><b>Weight</b></label><br>
                      <input type="number" placeholder="Weight (lbs)" name="weight" min="1" max="500" style="width: 90px;">

                      <div class="clearfix">
                        <button type="submit" id="account-settings-button" name="account_info_button">Save Settings</button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}