<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'users/loginstyle.css' %}">
    </head>
    
    <body>
        <form action="" method="POST" id="login">
            {% csrf_token %}

            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input class="login-button" type="submit" value="Login">

        </form>

        <form action="{% url 'users:users-signup' %}" method="GET">
            <input type="submit" value="Create Account">
        </form>

        <a href="{% url 'users:users-forgot_pass' %}"><div class="forgot-pass-button">Forgot Password</div></a>

        {% block error %}
        {% endblock error %}

    </body>
</html>