/*
grey: #3E4345
dark grey: #2D3031
yellow: #FDC52A
red: #DC3232
blue: #2781E1 
*/

@font-face {
    font-family: 'noto_sans-semibold';
    src: url('Noto_Sans/NotoSansMono-SemiBold.ttf')
}

@font-face {
    font-family: 'noto_sans-medium';
    src: url('Noto_Sans/NotoSansMono-Medium.ttf')
}

@font-face {
    font-family: 'noto_sans-regular';
    src: url('Noto_Sans/NotoSansMono-Regular.ttf')
}

@font-face {
    font-family: 'noto_sans-light';
    src: url('Noto_Sans/NotoSansMono-Light.ttf')
}


body {
    margin: 0px;
    background-color: #3E4345;
}

.header-container {
    width: 100%;
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1.5fr 2.5fr;

    background-color: #FDC52A;
}

.title {
    padding-left: 15px;
}

.login-container {
    padding-right: 15px;
}

.login {
    margin-top: 26px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #5e6568;
}

.header-text {
    color: #3E4345;
    font-family: 'noto_sans-semibold';
    margin-left: 20px;
}

.header-title {
    color: #3E4345;
    font-family: 'noto_sans-semibold';
}

h2 {
    margin: 0px;
}


.home-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

.fox40 {
    margin-left: auto;
}

.home-quote {
    font-family: 'noto_sans-semibold';
    font-size: 60px;
    color: #FDC52A;
    margin-left: 20px;
}

.home-text {
    font-family: 'noto_sans-regular';
    color: white;
    font-size: 30px;
    margin-left: 50px;
}


.about-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    margin-bottom: 50px;

}

.about-text-container {
    color: white;
    text-align: right;
    padding-right: 20px;
    margin-left: 10px;
}

.about-title {
    font-family: 'noto_sans-semibold';
    color: #FDC52A;
    font-size: 40px;
    margin: 15px 0px;
}

.about-text {
    font-family: 'noto_sans-regular';
    font-size: 16px;
}

.why-i-photo {
    margin-left: 20px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    font-family: 'noto_sans-regular';
  
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    font-family: 'noto_sans-semibold';
  
    background-color: #FDC52A;
    color: #3E4345;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #dbaa24;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px 20px;
  }
  
  label {
    font-family: 'noto_sans-medium';
  }





.footer-container {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    background-color: #FDC52A;

    padding: 5px 10px;
}

.footer-link {
    text-decoration: none;
    color: #3E4345;
    font-family: 'noto_sans-semibold';
    font-size: 18px;

    margin: auto 0px auto 20px;

}

@media only screen and (max-width: 1050px) {
    .home-quote {
        font-size: 70px;
        margin-left: 30px;
    }
    
    .home-text {
        font-size: 35px;
    }

    .about-title {
        font-size: 50px;
    }

    .about-text {
        font-size: 30px;
    }
    
    .about-container {
        flex-direction: column;
        height: 1400px;
    }

    .why-i-photo {
        width: 380px;
        
    }
}